*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  height: 100vh;
  font-family: "Inter", sans-serif;
  color: #f3f3f3;
  background-color: #f3f3f3;
}

.information {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100vh;
  width: 40%;
  background-color: #7b6766;
}

.information .wrapper-inf {
  background-color: #7b6766;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -ms-flex-align: center;
      align-items: center;
  padding: 20px;
  transform: translateX(-85%);
  transition: linear .3s;
  cursor: pointer;
  z-index: 1;
}

.information .wrapper-inf h3 {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 20px;
  position: relative;
}

.information .wrapper-inf h3::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 70px;
  background-color: #f3f3f3;
  width: 1px;
  transition: width .3s;
  z-index: 1;
}

.information .wrapper-inf p {
  padding: 0 50px;
}

.information .visible {
  transform: translateX(0%);
}

.board .image-wrapper, .board .game-title-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 40%;
  background-color: #eee1df;
  display: -ms-flexbox;
  display: flex;
}

.board .image-wrapper .img-left,
.board .image-wrapper .img-right, .board .game-title-wrapper .img-left,
.board .game-title-wrapper .img-right {
  width: 100%;
  height: 100%;
}

.board .image-wrapper .img-left img,
.board .image-wrapper .img-right img, .board .game-title-wrapper .img-left img,
.board .game-title-wrapper .img-right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

.board .image-wrapper .img-left, .board .game-title-wrapper .img-left {
  transform: scaleX(-1);
}

.board .game-title-wrapper {
  background-color: transparent;
  -ms-flex-pack: justify;
      justify-content: space-between;
  top: 18%;
  height: 0;
}

.board .game-title-wrapper .rock, .board .game-title-wrapper .paper, .board .game-title-wrapper .scissors {
  font-size: 80px;
  line-height: 80px;
  margin: 0;
}

.board .game-title-wrapper .paper {
  color: #7b6766;
}

.board .game-title-wrapper .scissors {
  color: #7b6766;
}

.board .result {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 35%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.board .result .result-wrap {
  width: 35%;
  border-top: solid 1px;
}

.board .result .buttons {
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
  -ms-flex-align: end;
      align-items: flex-end;
}

.board .result .buttons i {
  border: 2px solid #7b6766;
  background-color: #f3f3f3;
  color: #7b6766;
  border-radius: 2px;
  padding: 30px;
  margin: 20px 0 0 30px;
  cursor: pointer;
  transition: linear .3s;
}

.board .result .buttons i:hover {
  background-color: #7b6766;
  color: #f3f3f3;
}

.board .result h2 {
  color: #7b6766;
  font-size: 15px;
  margin-bottom: 0;
}

.board .result .startBtn {
  background-color: #7b6766;
  width: 100%;
  margin: 20px auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer;
}

.socialmedia {
  position: absolute;
  top: 30vh;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 40%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  cursor: pointer;
}

.socialmedia p {
  color: #7b6766;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */